# .gitignore

# OS Files
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build files
dist/
build/
*.zip

# Logs
*.log

# Environment
.env
.env.
local
